@media screen and (max-width: 800px) {
    .content-img {
        display: none;
    }
}

.header{    
    width: 100%;
    height: auto;
    position: relative;
}

.menu{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.308);
    width: 100%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.menu ul li{
    color: white;
    padding: 0px 30px 0px 30px;
}

.menu ul li a{
    position: relative;
    color: white;
    text-decoration: none;
    padding-bottom: 3px;
    cursor: pointer;
}

.menu ul li a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0px;
    left: 0px;
    background-color: red;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;    
}

.menu ul li a:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);  
}

/* content */

.content{
    background-color: #575553;
    padding: 20px;
}

.content-inicio{
    border-radius: 20px;
    background-color: #8d827a;
    padding: 20px;
    /* box-shadow: 3px 5px 3pc #000; */
}

.card-body{
    flex: 1 1 auto;
    padding: 1rem 1rem;
    background-color: #8d827a;
    border-radius: 20px;
    padding-left: 20px;


}
.content-pages {
    width: 70%;
    height: 180px;
    border-radius: 20px;
    background-color: #8d827a;
    padding: 20px 50px 20px 140px;
    /* box-shadow: 3px 5px 3pc #000; */
}

.content-pages h1 {
    font-size: 32px;
    margin-left: 0px;
    margin-bottom: 15px;
}


.content-img img {    
    height: 200px;
    width: 200px;
    border-radius: 20px;    
}

.text-title-pages {
    font-size: 40px;
}

.text-pages {
    font-size: 20px;
}

/* geral */
.text-justified {
    text-align: justify;
}

.text-center {
    text-align: center;
}

h1  {
    font-size: larger;
    font-weight: bold;
    margin-left: 15px;
    color: white;
}

p{
    margin-top: 7px;
    margin-bottom: 7px;
    color: white;
}

h2 {
    font-size: larger;
}

/* footer */

.footer {
    background-color: #3a312a;
    padding: 20px;
}

.footer h2{
    color: white;
}

.rede {
    width: 40px;
    height: 40px;    
    margin-right: 15px;
    transition: all 0.4s ease-out;
    border-radius: 50%; 
    margin-top: 20px;   
}

.icone {
    width: 20px;  
    margin-top: 10px;
    margin-left: 10px;
}

.rede:hover{
    cursor: pointer;
    transform: translateY(-10px);    
}

.rede#facebook{
    background-color: #2372a3;
}

.rede#twitter{
    background-color: #0084b4;
}
.rede#instagram{
    background-color: #3f729b;
}

.rede#youtube{
    background-color: #b00;
}

.rede#google{
    background-color: #dd4d39;
}

/* responsive */

