<div class="footer">
    <div class="row">
        <div class="col-4">
            <h2>Embaixador Churrasco</h2>
            <div>
                <ul class="nav">
                    <li class="rede" id="google">
                        <img class="icone" src="imagens/logo-plus.png" />
                    </li>
                    <li class="rede" id="facebook">
                        <img class="icone" src="imagens/logo-facebook.png" />
                    </li>
                    <li class="rede" id="twitter">
                        <img class="icone" src="imagens/logo-twitter.png" />
                    </li>
                    <li class="rede" id="instagram">
                        <img class="icone" src="imagens/logo-instagram.png" />
                    </li>
                    <li class="rede" id="youtube">
                        <img class="icone" src="imagens/logo-youtube.png" />
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-4">
            <h2>Sobre</h2>
            <p>Somos um blog focado em dar as melhores informações a respeito de tudo que tem relação com churrasco.</p>
        </div>
        <div class="col-4">
            <h2>Para mais informações</h2>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="E-mail" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-success" type="button" id="button-addon2">Enviar</button>
            </div>
        </div>
    </div>
</div>