<div class="row">
    <div class="header">
        <img class="img-fluid" src="imagens/<%- imagem %>.jpg" />
        <div class="menu">
            <ul class="nav justify-content-center">
                <li class="nav-item"><a class="nav-link active" href="/">INICIO</a></li>
                <li class="nav-item"><a class="nav-link active" href="/bebidas">BEBIDAS</a></li>
                <li class="nav-item"><a class="nav-link active" href="/carnes">CARNES</a></li>
                <li class="nav-item"><a class="nav-link active" href="/petiscos">PETISCOS</a></li>
                <li class="nav-item"><a class="nav-link active" href="/contato">CONTATO</a></li>
            </ul>
        </div>
    </div>
</div>